:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;

  --white: #FFFFFF;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;

  --linear-greylight: linear-gradient(to bottom, white, #EAEAEA);

  --cuprum: Cuprum, Arial, sans-serif;
  --pt-sans: PT Sans, Tahoma, sans-serif;
}

/* Global */

body {
  min-width: 960px;

  padding: 0;
  margin: 0;

  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;

  line-height: 24px;
}

.button {
  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;

  background: var(--basic-red);
  color: var(--white);

  text-align: center;
  vertical-align: middle;

  text-transform: uppercase;
}

.white-button {
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;

  background-color: var(--white);
  border: 1px solid #E5E5E5;

  height: 38px;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;

  margin: -1px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* -- Temporary style --*/
.popup {
  display: none;
}
/* -- Temporary style --*/

/* ⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇ Non-global styles ⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇⬇*/

/* Header */
/* header-top*/
.header-top {
  background: var(--basic-grey);

  font-family: var(--cuprum);
}

.header-search input {
  color: var(--white);
  font-size: 18px;
}

.header-search label {
  font-size: 18px;
}

.header-menu a {
  color: var(--white);
  font-size: 18px;
}

/* header-bottom */
.header-bottom {
  background: var(--basic-background);

  font-family: var(--cuprum);
}

.header-bottom ul {
  list-style: none;
}

.header-bottom .description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.header-contacts .telephone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  color: var(--basic-red);
}

.header-contacts .address {
  font-size: 14px;
  line-height: 24px;
}

.header-bottom .auth-buttons {
  font-size: 21px;
  line-height: 21px;
}

.profile-actions {
  background: var(--white);
}

.profile-actions .profile-initials {
  font-size: 21px;
  line-height: 21px;
}

.profile-menu .profile-orders,
.profile-menu .profile {
  font-size: 16px;
  line-height: 18px;
}

.main-navigation li{
  font-size: 18px;
  line-height: 24px;
}

/* MAIN */
main .bread-crumbs {
  text-transform: uppercase;
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;
}

/* Main - Boxes*/

.box-item p {
  font-family: var(--cuprum);
  font-size: 24px;
  line-height: 30px;
}

.box-item a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: white;

  background-color: rgba(255, 255, 255, 0.3);
}

.boxes-list .special-yellow {
  background-color: var(--special-yellow);
}

.boxes-list .special-blue {
  background-color: var(--special-blue);
}

.boxes-list .special-lilac {
  background-color: var(--special-lilac);
}

.boxes-list .special-greenlight {
  background-color: var(--special-greenlight);
}

.boxes-list .special-yellowlight {
  background-color: #FFC047;
}

/* Main - Slides */
.slide-name {
  text-transform: uppercase;

  font-family: var(--cuprum);

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slide-description {
  font-family: var(--cuprum);

  font-size: 18px;
  line-height: 24px;
}

/* Main - Selection (Filters and Sorting options) */
.manufacturer {
  font-family: var(--pt-sans);
}
.manufacturer h3 {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.manufacturer label {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
}

.power-supply {
  font-family: var(--pt-sans);
}

.power-supply h3 {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.power-supply label {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
}

.select {
  width: 220px;
}


/* Main - Catalog of goods */
.catalog-caption {
  text-transform: uppercase;

  font-weight: normal;
  font-family: var(--cuprum);
  font-size: 30px;
  line-height: 30px;

  background-color: #F2F6F8;
}

.filter h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;

  background-color: #F7F3EC;
}

.pricing h3 {
  font-family: var(--pt-sans);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.price-range {
  background-color: #F7F3EC;
}

.sorting h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;

  background-color: #F7F3EC;
}

.sort-option {
  display: inline;

  padding: 0;

  text-transform: uppercase;

  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-greylight);

  background-color: inherit;

  border: 0;
}

.sorting-options .active {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-red);
}

.sort-advantages .sort-option {
  border-bottom: 1px dotted var(--basic-red);
}

.pricing input[type=number] {
  display: inline;

  width: 95px;
  height: 38px;

  border: 0;
  border-radius: 2px;

  background-color: #F7F3EC;

  font-family: var(--pt-sans);
  font-size: 17px;
  line-height: 18px;
}

.catalog-item {
  border: 1px solid #EAEAEA;
}

.catalog-item h3 {
  font-family: var(--pt-sans);

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item del {
  font-family: var(--pt-sans);

  color: #A9A9A9;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .actual-price {
  font-family: var(--pt-sans);

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .buy-button {
  text-transform: uppercase;

  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  color: white;

  background: var(--basic-green);
  box-shadow: inset 0 -3px 0 #367315;
  border-radius: 2px;
}

.catalog-item .to-bookmarks-button {
  text-transform: uppercase;

  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  color: #32425C;

  background: white;

  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

/* Main - Popular goods */
.popular-goods h2,
.popular-manufacturers h2 {
  font-family: var(--cuprum);
  font-size: 30px;
  line-height: 30px;
}
.popular-goods-head,
.popular-manufacturers-head {
 background-color: #F9F5F0;
}

/* Main - Manufacturers */
.manufacturer-item a {
  display: inline-block;
  border: 1px solid #EAEAEA;
}

/* Main - Services */
.services {
  background-color: var(--basic-background);
}

.services h2 {
  font-family: var(--cuprum);
  font-size: 30px;
  line-height: 30px;
}

.services .description {
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 24px;
}

.services-item {
  font-family: var(--cuprum);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  color: white;

  width: 240px;
  height: 61px;

  background-color: #32425C;

  border: 0;

  box-shadow:
    0 1px 0 #293449,
    inset 0 1px 0 #405069;
}

.services-item:focus,
.services-item.active {
  background-color: white;
  box-shadow: 0 1px 0 #FFFFFF;

  color: #32425C;
}

.delivery-description h3,
.guarantee-description h3,
.loan-description h3 {
  font-family: var(--cuprum);
  font-size: 36px;
  line-height: 24px;
}

.delivery-description p,
.guarantee-description p,
.loan-description p {
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 24px;
}

/* Pagination */
.pagination a {
  color: black;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 18px;

  background-color: var(--white);
  border: 1px solid #E5E5E5;

  height: 38px;
}

.pagination a.active {
  color: white;

  background-color: var(--basic-red);
}

/* Main - About Good */
.about-good {
  background-color: var(--basic-background);
}

.about-good .caption {
  text-transform: uppercase;
  font-family: var(--cuprum);
  font-size: 30px;
  line-height: 30px;
}

.about-good .description {
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 24px;
}

  /* ABOUT US */
.about-us {
  background: var(--white);
  font-family: var(--cuprum);
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p {
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 24px;
}

.about-us ul.companies {
  list-style: none;
}

.about-us li {
  font-size: 18px;
  line-height: 24px;
}

/* MAIN CONTACTS */
.main-contacts {
  background-color: var(--white);
  font-family: var(--cuprum);
}

.main-contacts p {
  font-family: var(--pt-sans);
  font-size: 13px;
}

/* FOOTER */
.footer {
  font-family: var(--cuprum);
}

/* footer-top*/
.footer-top {
  background-color: #32425C;
}

.footer-sitemap ul {
  list-style: none;
}

.footer-sitemap-list a {
  font-size: 18px;
  color: var(--basic-background)
}

.footer-contacts p {
  color: #F3F7F9;
  font-size: 18px;
}

.footer-categories ul {
  list-style: none;
}

.footer-categories-list a {
  color: var(--special-yellowlight)
}

/* footer bottom */
.footer-bottom {
  background-color: #293449;
}

.copyright {
  font-family: var(--cuprum);
  color: white;
  font-size: 16px;
  line-height: 18px;
}

.footer-social ul {
  list-style: none;
}

.footer-social p {
  color: var(--white);
  font-size: 16px;
  line-height: 18px;
}

.footer-social span {
  color: var(--special-yellowlight);
}

